
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600;700;800&display=swap');

/*Geral*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Bhai 2', cursive;
    font-style: normal; 
  
}

.App {

    background-color: #76FF03;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    
}

.logo {
    

    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;

}

.logo h1{
    
    margin: -22px 0;
    align-self: center;
    font-size: 48px;

   
}

.logo p{
    
    margin: 0;
    align-self: flex-end;
    font-size: 12px;
}

/*Tela Inicial*/

.card {
  
    background: white;
    align-items: center;
    padding: 1rem 1.2rem; 
    fill: white;
    width: 82%;
    font-size: 0.75rem;
    margin: 0.5rem 1rem;
    height: 50px;
    border-radius: 8px;

}

.footer {

    background: #32CB00;
    width: 100vw;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.botao {

    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.card1 {

    border-radius: 8px;
    background: white;
    padding: 16px;
    width: 75%;
    height: auto;
    margin: 1rem  auto;
    margin-top: -200px;
}

.card-container {
    margin-top: 100px;
}

.card-tarefa {
    border-radius: 8px;
    background: white;
    padding: 0;
    width: 96%; 
    height: auto;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 8px;
    top: 70px;
}

.titulo-tarefa {

    
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    Width :167px;

}

.botao-lixeira {
    
    width: 60px;
    height: 56px;
    font-size: 12px;
    margin-left: 22%;
    border: none;
    


}

.check {

    margin: auto 1rem;
}


.logo-menor .logo h1 {

    font-size: 36px;
    position: absolute;
    top: 30px;
    right: 100px; 
}


.logo-menor .logo p {

    font-size: 12px;
    height: 50px;
    width: 120px;
    position: absolute;
    top: 45px;
    right: 60px; 
}    

.texto-inicial {

    margin: 0;
    font-weight: 400; 
    font-size: 1rem;
}

.titulo-cadastro {

    font-size: 1.5rem;
    font-weight: bold;
}

.nome {
    
    font-size: 0.75rem;
}

.input {

    border-radius: 8px;
    display: block;
    width: 93%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
}

 .botao2 {

    border-radius: 8px;
    display: flex;
    width: calc(100% - 0.2rem);
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: #32CB00;
    border: 1px solid #E6E6F0;
    color: white;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;

 }

 .botao2 img{

    margin-right: 0.5rem;

 }